H1 {color: #800000;
text-align: center;
font-size: 21pt;	
font-style: italic;
font-face: arial;
text-decoration: underline;
}

P B {color: #32CD32;}

.def
{ font-style: italic;
font-size: 14pt;
border: outset 0.1cm green;
}
